/* Font for logo design */
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
/* Fonr for headings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/* Font For body & Buttons */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.logo-font{
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* page scroll animation */
.animateClass{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

@keyframes appear{
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
@keyframes border-spin {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-border-spin {
  animation: border-spin 3s linear infinite;
}

